html {
    margin:    0 auto;
}

body {
    background-color: rgb(255, 255, 158);
    margin: 0 auto;
}

.city-card{
    display:flex;
    background-color: white;
    padding: 10px;
    color: rgb(69, 69, 69);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 4px;
    margin: 20px;
}

.temp-container{
    padding: 8px;
    background-color: rgb(111, 217, 255);
    margin: 20px;
    border-radius: 4px;
}

.city-name{
    width: 33%;
    /* background: yellowgreen; */
}

.city-temp{
    width: 33%;
    /* background: tomato; */
}

.weather-img{
    width: 33%;

}

/*This css is applied for the image inside weather-img class*/
.weather-img img{
    width: 100px;
    height: 100px;
}
