html {
    margin:    0 auto;
}

body {
    background-color: rgb(255, 255, 158);
    margin: 0 auto;
}



@media only screen and (max-width: 650px) {

    .temp-container{
        padding: 8px;
        font-size: 20%;
        margin: 20px;
        border-radius: 4px;
    }

    .temp-container .city-card{
        font-family: 'Varela Round', sans-serif;
        text-shadow: 0 1px 1px #fff;
        text-align: center;
        line-height: 35px; 
        flex-direction: column;
        padding: 20px;

    }

   .city-card .city-name{
        width: 100% ;
    }

    .city-card .city-temp{
        width: 100%;
        font-size: 80%;
        line-height: 1.5;
    }

    .city-card .weather-img{
        width: 100%;
        text-align:center;
    }
    
}


.city-card{
    color: #4d7fd5; 
    font-family: 'Varela Round', sans-serif;
    line-height: 160px; 
    font-weight: normal;
    margin: 2%; 
    text-shadow: 0 1px 1px #fff;
    text-align: center;
    display:flex;
    background-color: white;
    padding: 1% 0 1% 0;
    /* color: rgb(69, 69, 69); */
    border-radius: 4px;
    /* margin: 20px; */
}

.temp-container{
    padding: 8px;
    font-size: 55px;
    background-color: rgb(111, 217, 255);
    margin: 20px;
    border-radius: 4px;
}

.city-name{
    color: rgb(60, 60, 60);
    font-size: 30px;
    width: 33%;
    /* background: yellowgreen; */
}

.city-temp{
    width: 33%;
    /* background: tomato; */
}

.weather-img{
    width: 33%;
    text-align:center;
}

/*This css is applied for the image inside weather-img class*/
.weather-img img{
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}
