html {
    margin:    0 auto;
}

body {
    background-color: rgb(255, 255, 158);
    margin: 0 auto;
}

.city-card{
    background-color: white;
    padding: 10px;
    color: rgb(69, 69, 69);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 4px;
    margin: 20px;
}

.temp-container{
    padding: 8px;
    background-color: rgb(111, 217, 255);
    margin: 20px;
    border-radius: 4px;
}